# Environment Variables
#
# author: Loan Lassalle <https://github.com/lassalleloan>

# pre-run, run-app & post-run script variables
# Keep the following lines commented to use them in pre-run, run-app & post-run script and
# not in the docker container
# VERBOSITY=0
# HOSTS_VERSION=2.5.0
# SRC_VOLUME_1=src/hosts
# DST_VOLUME_1=/dns-black-hole/etc/hosts
# SRC_VOLUME_2=src/myhosts
# DST_VOLUME_2=/dns-black-hole/hosts-master/myhosts
# HARD_LINK_SRC_FILE=/dns-black-hole/src/hosts
