# Environment Variables
#
# Author: Loan Lassalle <https://github.com/lassalleloan>

# Script variables section -------------------------------------------------------- start
# Keep the following lines commented to use them in scripts and
# not in the Docker container

# Current version of StevenBlack/hosts source files
# CURRENT_VERSION=2.5.0

# Default verbosity level
# VERBOSITY=1

# Working directory (absolute path must be configured)
# WORKING_DIRECTORY=<absolute-path>/dns-black-hole

# Script variables section ---------------------------------------------------------- end
