# Environment Variables
#
# Author: Loan Lassalle <https://github.com/lassalleloan>

# Script variables section -------------------------------------------------------- start
# Keep the following lines commented to use them in scripts and
# not in the Docker container

# Current version of StevenBlack/hosts source files
# CURRENT_VERSION=2.5.0

# Default verbosity level
# VERBOSITY=1

# Source and destination directories for the Docker container"s volume
# SRC_VOLUME_1=<absolute-path>/dns-black-hole/src/hosts
# DST_VOLUME_1=/dns-black-hole/etc/hosts

# SRC_VOLUME_2=<absolute-path>/dns-black-hole/src/blacklist
# DST_VOLUME_2=/dns-black-hole/hosts-master/blacklist

# SRC_VOLUME_3=<absolute-path>/dns-black-hole/src/whitelist
# DST_VOLUME_3=/dns-black-hole/hosts-master/whitelist

# SRC_VOLUME_4=<absolute-path>/dns-black-hole/src/myhosts
# DST_VOLUME_4=/dns-black-hole/hosts-master/myhosts

# Source file for creating hard link
# HARD_LINK_SRC_FILE=<absolute-path>/dns-black-hole/src/hosts

# Script variables section ---------------------------------------------------------- end
