<!--
    dns-black-hole update agent

    Author: Loan Lassalle <https://github.com/lassalleloan>
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>Label</key>
        <string>com.loanlassalle.dns-black-hole.update</string>
        
        <!--
            Absolute path must be configured
            Concatenation between WORKING_DIRECTORY in env.list file and 
            the path "/agent/com.loanlassalle.dns-black-hole.update.plist"
        -->
        <key>WorkingDirectory</key>
        <string><absolute-path></string>
        
        <key>ProgramArguments</key>
        <array>
            <string>sh</string>
            <string>-u</string>
            <string>run-app</string>
        </array>

        <!-- Optional outputs (especially for debugging) -->
        <!-- <key>StandardOutPath</key><string>agent/stdout</string> -->
        <!-- <key>StandardErrorPath</key><string>agent/stderr</string> -->

        <key>StartCalendarInterval</key>
        <array>
            <dict>
                <key>Hour</key>
                <integer>21</integer>
                <key>Minute</key>
                <integer>00</integer>
            </dict>
        </array>
    </dict>
</plist>
